
body {
    margin: 0;
}
[class*="navbarbtn"] {
    display: inline;
    float: left;
    margin-left: 3%;
    margin-top: 1rem;
}
header > div:first-of-type > a {
    color: white;
    padding: .3rem;
    margin-top: 3px;
    display: inline-block;
}
header > div:first-of-type > a:first-of-type {
    margin-left: 1rem;
}
header > div:first-of-type {
    background-color: black;
}

header > div:last-of-type {
    display: flex;
    justify-content: space-between;
    
}
header > div:last-of-type > div > a {
    padding: 1rem 1rem;
    display: inline-block;
    color: rgba(0,0,0,.54);
    font-size: .85rem;
}
header > div:last-of-type > div > div {
    display: inline-block;
}
header > div:last-of-type > div > span {
    padding: 1rem;
    display: inline-block;
    font-size: .85rem;
}
@media only screen and (min-width: 768px) {
    .navbarbtn-one-custom {
        margin-top: 0;
        width: 30%;
    }
}