body {
  font-family: "Open Sans", sans-serif !important;
}

.wrapper {
  margin: 0 1%;
}

.text-white {
  color: white;
}

header > div:first-of-type > a {
  color: rgba(255, 255, 255, 0.54);
  padding: 0.5rem 0.3rem;
  margin-top: 3px;
  font-size: 0.8rem;
  display: inline-block;
}

header > div:first-of-type > a:first-of-type {
  margin-left: 1rem;
}

header > div:first-of-type {
  background-color: black;
  padding-bottom: 0.1rem;
}

header > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
}

header > div:nth-child(2) > div > a {
  padding: 0.95rem 0.5rem;
  display: inline-block;
  color: rgba(0, 0, 0, 0.32);
  font-size: 0.9rem;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  font-variant-caps: titling-caps;
}

header > div:nth-child(2) > div:last-of-type > div:first-of-type > img {
  padding: 0.83rem;
  border-left: 0.5px solid rgba(0, 0, 0, 0.1);
}

header > div:nth-child(2) > div > div {
  display: inline-block;
}

header > div:nth-child(2) > div > span {
  padding: 0.5rem;
  display: inline-block;
  font-size: 0.85rem;
}

header img {
  vertical-align: middle;
}

header > div:last-of-type {
  background-color: #ffdd33;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.84);
  font-size: 0.8rem;
  padding-left: 1.25rem;
  font-weight: 800;
}

header > div:nth-child(2) > div > span:first-of-type {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.84);
}

header > div:nth-child(2) > div > span:nth-of-type(2) {
  font-size: 1.3rem;
  padding: 0;
  vertical-align: middle;
  color: #ff4422;
  font-weight: bolder;
}

header > div:nth-child(2) > div > span:last-of-type {
  background-color: #00cccc;
  color: white;
  border-radius: 3px;
  margin: 0 1rem;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
}

.section-2 {
  width: 72rem;
  margin: 0 auto;
}
.section-2 h1:first-of-type {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 2rem 0;
  padding-left: 0.5rem;
  color: #ff4422;
}
.section-2 h2 {
  font-weight: 900;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.section-2 h3 {
  font-size: 0.83rem;
  color: rgba(0, 0, 0, 0.44);
  margin: 1rem 0;
}
.section-2 > div > div:first-of-type {
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.34);
}
.section-2 > div {
  width: 23%;
  margin: 0 0.86%;
  display: inline-table;
  height: 15.7rem;
}
.section-3 {
  width: 72rem;
  margin: 0 auto;
}
.section-3 h1:first-of-type {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 2rem 0;
  padding-left: 0.5rem;
  color: #ff4422;
}
.section-3 > div {
  width: 23%;
  margin: 0 0.86%;
  display: inline-table;
  height: 15.7rem;
}

/* Media Reporter */

@media only screen and (max-width: 1208px) {
  header > div:nth-child(2) > div > a:nth-last-of-type(1) {
    display: none;
  }
  header > div:nth-child(2) > div > a:nth-last-of-type(2) {
    display: none;
  }
}

@media only screen and (max-width: 1020px) {
  header > div:nth-child(2) > div > span {
    display: none;
  }
  header > div:nth-child(2) > div > div:nth-last-of-type(1) > img {
    display: none;
  }
}

@media only screen and (max-width: 589px) {
  header > div:nth-of-type(2) > div:nth-last-of-type(2) > a {
    display: none;
  }
}

/* hero Section */

.text-white {
  color: white;
}
.hero {
  margin-top: 0.2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30em !important;
  width: 100%;
}

.dark {
  background: darkgray;
}
.hero-col-1 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/TNW2019_JamesBridle-796x410.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  background: black
    url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 66%;
  height: auto;
}
.hero-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 33.33%;
  height: auto;
}

.hero-col-3 {
  height: 49%;
  width: auto;
}

.art-1 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F04%2Fjhkjkh.jpg&signature=0a5f0ed2450520d42760e97f5355a3ca")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.art-2 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F04%2Fbitcoin-price-rise.jpg&signature=d5eb53f6e6353ec83e6f23a96f4ddf68")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.date {
  display: block;
  float: right;
}

.article-0 {
  margin: 0 0.9em;
  margin-top: 12em;
}

.article-0 h2 {
  font-weight: 900;
  left: 1em;
  width: 98%;
  font-size: 3em;
}

.article-0 img {
  position: relative;
  bottom: 10rem;
  clear: right;
  width: 50%;
}

.article-0 li {
  color: grey;
}

.article-0 li {
  color: grey;
}

.article-0 a:nth-child(1) {
  display: block;
  text-decoration: none;
  font-weight: lighter;
}
.article-0 a:nth-child(2) {
  display: block;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.article-0 ul {
  margin-top: 1.6em;
}

.article-0 ul li {
  display: inline-block;
  font-size: 13px;

  padding-right: 0.1em;
}

.article-0 ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  font-size: 13px;
}

.article-1 {
}

.article-1,
.article-2 {
  margin: 0 0.9em;
  margin-top: 8em !important;
  line-height: 1.5em;
}

.article-1 li {
  color: grey;
}

.article-2 li {
  color: grey;
}

.article-1 {
  margin-top: 6em;
}

.article-1 a:nth-child(1) {
  display: block;
  text-decoration: none;
  font-weight: lighter;
}
.article-1 a:nth-child(2) {
  display: block;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.article-1 ul li {
  display: inline-block;
  font-size: 13px;

  padding-right: 0.1em;
}

.article-1 ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  font-size: 13px;
}

.article-2 a:nth-child(1) {
  display: block;
  text-decoration: none;
  font-weight: lighter;
}
.article-2 a:nth-child(2) {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.article-2 ul li {
  display: inline-block;
  font-size: 13px;

  padding-right: 0.1em;
}

.article-2 ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  font-size: 13px;
}

@media only screen and (max-width: 1015px) {
  .article-0 h2 {
    font-size: 1em;
  }

  .article-0 {
    margin-bottom: 0.5em;
    line-height: 1 em;
    margin-top: 5em;
  }
  .date {
    display: none;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    margin-bottom: 10em;
  }

  .hero-col-1,
  .hero-col-2 {
    width: 100%;
    height: 350px;
  }

  .hero-col-3 {
    margin-top: 0.5em;
    height: 350px;
  }

  .article-0 img {
    display: none;
  }
  .article-0 ul {
    margin-top: 0.2em;
  }

  .article-1,
  .article-2 {
    margin-top: 6.5em !important;
  }

  .article-1,
  a:nth-child(2) {
    font-size: 0.8em;
  }
  .article-2,
  a:nth-child(2) {
    font-size: 0.8em;
  }

  @media only screen and (min-width: 768px) {
    .navbarbtn-one-custom {
      margin-top: 0;
      width: 30%;
    }
  }
}
