@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
body {
  font-family: "Roboto Slab", "Open Sans", sans-serif !important;
  line-height: 1em;
}
/* special */

.hidden {
  position: absolute;
  clip: rect(60px 60px 60px 60px);
}

/* utilities */
.wrapper {
  margin: 0 1%;
  margin-top: 7.7em;
}

.text-white {
  color: white;
}

.bg-grey {
  background: grey;
}
.bg-dark {
  background: grey;
}

.gutter-left {
  margin-left: 1%;
}

.gutter-left-1 {
  margin-left: 1em;
}

.gutter-top {
  margin-top: 6em !important;
}
.gutter-bottom {
  margin-bottom: 4em !important;
}

.col-1-3 {
  margin-top: 4em !important;
  width: 32%;
  display: inline-block;
  height: auto;
}

.col-1-4 {
  margin-top: 1em;
  width: 23.5%;
  height: auto;
  display: inline-block;
}

/* utilities end */

.footer {
  margin-top: 7em !important;
}
footer > div:first-of-type {
  background-color: #131313;
  margin: 0 auto;
  padding: 3rem 0 0 0;
}
footer > div:first-of-type > div > img {
  background-color: #333333;
  width: 1.3rem;
  padding: 0.6rem;
  border-radius: 2rem;
  margin: 0 0.5rem;
}
footer > div:first-of-type > div {
  margin: 0 auto;
  width: max-content;
}
footer > div:first-of-type > div:nth-of-type(2) {
  padding: 1.5rem 0 2.5rem 0;
}
footer > div:first-of-type > div > a {
  margin: 0 0.5rem;
  font-variant-caps: all-small-caps;
  margin-top: 0px;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.64);
}
footer > div:last-of-type {
  background-color: #000000;
  text-align: center;
  padding: 2.25rem 0;
  font-size: 0.8rem;
}
footer div {
  color: #8c8c8c;
}
.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  z-index: 1;
  box-shadow: -2px 36px 60px 0px rgb(241, 241, 241);
}

header > nav:first-of-type > a {
  color: rgba(255, 255, 255, 0.54);
  padding: 0.5rem 0.3rem;
  margin-top: 3px;
  font-size: 0.8rem;
  display: inline-block;
}

header > div:first-of-type > a {
  color: rgba(255, 255, 255, 0.54);
  padding: 0.5rem 0.3rem;
  margin-top: 3px;
  font-size: 0.8rem;
  display: inline-block;
}

header > div:first-of-type > a:first-of-type {
  margin-left: 1rem;
}

header > div:nth-child(2) {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
}

header > div:nth-child(2) > div > a {
  padding: 0.95rem 0.5rem;
  display: inline-block;
  color: rgba(0, 0, 0, 0.32);
  font-size: 0.9rem;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  font-variant-caps: titling-caps;
}

header > div:nth-child(2) > div:last-of-type > div:first-of-type > img {
  padding: 0.83rem;
  border-left: 0.5px solid rgba(0, 0, 0, 0.1);
}

header > div:nth-child(2) > div > div {
  display: inline-block;
}

header > div:nth-child(2) > div > span {
  padding: 0.5rem;
  display: inline-block;
  font-size: 0.85rem;
}

header img {
  vertical-align: middle;
}

header > div:last-of-type {
  background-color: #ffdd33;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.84);
  font-size: 0.8rem;
  padding-left: 1.25rem;
  font-weight: 800;
}

header > div:nth-child(2) > div > span:first-of-type {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.84);
}

header > div:nth-child(2) > div > span:nth-of-type(2) {
  font-size: 1.3rem;
  padding: 0;
  vertical-align: middle;
  color: #ff4422;
  font-weight: bolder;
}

header > div:nth-child(2) > div > span:last-of-type {
  background-color: #00cccc;
  color: white;
  border-radius: 3px;
  margin: 0 1rem;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
}

.nav {
  background-color: black;
  padding-bottom: 0.1rem;
}
.section-2 {
  width: 93%;
  max-height: 72rem;
  margin: 0 auto;
}

.section-2 h1:first-of-type {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 2rem 0;
  padding-left: 0.5rem;
  color: #ff4422;
}

.section-2 h2 {
  font-weight: 900;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.section-2 h3 {
  font-size: 0.83rem;
  color: rgba(0, 0, 0, 0.44);
  margin: 1rem 0;
}

.section-2 > div > div:first-of-type {
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.34);
}

.section-2 > div {
  width: 23%;
  margin: 0 0.86%;
  display: inline-table;
  height: 15.7rem;
}

.section-3 {
  width: 93%;
  max-height: 72rem;
  margin: 0 auto;
}
.section-3 br {
  margin: 1rem 0;
}
.section-3 h1:first-of-type {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 2rem 0;
  padding-left: 0.5rem;
  color: #ff4422;
}

.section-3 h1:last-of-type {
  font-size: 1rem;
  font-weight: 900;
  margin: 2rem 0;
  padding-left: 0.5rem;
  color: #ff4422;
  float: right;
  margin-top: 0.5rem;
}

.section-3 > h1 {
  display: inline;
}

.section-3 > h1 > span {
  padding: 0 0.5rem;
}

.section-3 > div > div:first-of-type {
  background-color: #ffebe9;
  display: grid;
  padding-left: 5rem;
}

.section-3 > div > div:first-of-type > h1:first-of-type {
  margin: 0;
  background-color: #ff4421;
  margin-left: -5rem;
  padding-left: 5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}

.section-3 > div > div:first-of-type > h1:last-of-type {
  display: block;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 900;
  padding-top: 0.5rem;
}

.section-3 > div > div:first-of-type > h2 {
  display: block;
  font-size: 0.7rem;
  padding-bottom: 1rem;
}

.section-3 > div > span {
  display: block;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
  padding: 0.5rem 0;
}

.section-3 > div > div:last-of-type {
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.section-3 > div > div:last-of-type > p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.5;
}

.section-3 > div > div:last-of-type > span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.23);
}
.section-3 span > img {
  width: 0.8rem;
  padding: 0rem 0.5rem;
  margin-left: 0.5rem;
}
.section-3 div > img {
  width: 3.5rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.54);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.section-3 > div {
  width: 23%;
  margin: 0 0.86%;
  display: inline-table;

  background-color: #fffaf8;
}
.section-3 > span {
  width: 100%;
  height: 0.4rem;
  display: inline-block;
}

/* Media Reporter */

@media only screen and (max-width: 1208px) {
  header > div:nth-child(2) > div > a:nth-last-of-type(1) {
    display: none;
  }

  header > div:nth-child(2) > div > a:nth-last-of-type(2) {
    display: none;
  }
}

@media only screen and (max-width: 1020px) {
  .section-2 > div {
    width: 31%;
  }
  .section-3 > div {
    margin-bottom: 1rem;
    width: 100%;
  }
  .section-2 > div:nth-child(4n + 1) div:after {
    display: block;
  }

  header > div:nth-child(2) > div > span {
    display: none;
  }

  header > div:nth-child(2) > div > div:nth-last-of-type(1) > img {
    display: none;
  }
  footer > div:first-of-type > div {
    width: auto;
  }
  footer > div:first-of-type > div:nth-of-type(2) {
    text-align: center;
  }
  .section-3 h1:first-of-type {
    line-height: 1.2;
    padding-left: 0;
  }
  .footer > div:first-of-type > div {
    width: auto;
    text-align: center;
  }
  .section-3 h1:last-of-type {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 589px) {
  header > div:nth-of-type(2) > div:nth-last-of-type(2) > a {
    display: none;
  }
  .section-2 > div {
    width: 47%;
  }
  .section-2 > div:nth-child(3n + 1) div:after {
    display: block;
  }
  .section-3 > div {
    width: 100%;
    display: inline-block;
  }
}

/* setion 4 */

.section-4 {
  margin: 0 auto;
  width: 72em;
  padding: 2em 1em 0 1em;

  height: auto;
}

.section-4 h2 {
  font-size: 26px;
  color: red;
  font-weight: bolder;
}

.section-4 h2:hover {
  color: black;
}

.section-4 img {
  width: 100px;
  height: 100px;
}

.section-4 section > ul {
  margin-top: 1em;
}

.section-4 section ul li:nth-child(1) {
  height: 10em;
}

.section-4-article {
  height: 15em;
  background: transparent
    url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F04%2Fbosch-blockchain-fridge-austria-wien-energie-cryptocurrency-smart-refrigerator.jpg&signature=dc1cf859d4c6afb622450c54d52474fa")
    no-repeat;
  background-size: cover;
  background-position: center;
  color: white !important;
}

.section-4-article a {
  color: white !important;
  text-decoration: none;
}

.section-4-article div {
  padding-top: 8em;
  line-height: 1.5em;

  width: 90%;

  margin: 0 auto;
}

.section-4-article div h3 {
  font-size: 17px;
  font-weight: 400;
  margin-top: 1em;
}

.section-4-article div h2 {
  font-size: 22px;
  font-weight: bolder;
}

.section-4-article div ul li {
  font-size: 11px;
  display: inline-block;
}

.section-4-article-1 {
  margin-top: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f42;
  background-color: rgb(255, 244, 242);
}

.section-4-article-1 > div {
  margin-left: 1em;
}

.section-4-article-1 > div > h5 {
  font-size: 17px;
  font-weight: 100;
}

.section-4-article-1 > div > h4 {
  font-size: 14px;
  font-weight: 900;
}

.li {
  margin-left: 1em;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5em;
  list-style: square;
  border-bottom: 1px solid grey;
}

.li a {
  color: darkgray;
  text-decoration: none !important;
  font-weight: 100;
}

/* Section */

.section-5 {
  margin: 0 auto;
  width: 72rem !important;
  padding: 2em 1em 0 1em;
  height: auto;
}

.section-5 > h2 {
  color: #f42;
  font-size: 22px;
  font-weight: bold;
}

.section-5 > p {
  color: #f42;
  font-weight: 100;
  text-align: right;
  position: relative;
  right: 2em;
  bottom: 0.5rem;
}

.section-5 div {
  height: 15rem;
}

.section-5-img {
  width: 100%;
  background: url("https://cdnp3.stackassets.com/65bf4c6c7c31e8afec0d645cba07bf28f7579092/store/opt/596/447/8fe8286ce9af7f42970e08e0f3f9572207c1d4949e0f0c882e4e87e78cfe/product_22809_product_shots1_image.jpg")
    no-repeat !important;
  background-size: cover;
  background-position: center !important;
}

.section-5-ad {
  width: 100%;
  margin-left: 0;
  padding-top: 0.5em;
  line-height: 1em !important;
}

.section-5-ad h4 {
  font-size: 13px;
  font-weight: bold;
}
.section-5-ad span {
  padding-top: 10px;
  display: inline-block;
}
.section-5-ad span:last-of-type {
  font-size: 14px;
  font-weight: lighter;
  margin-left: 0.5rem;
  color: grey;
}
.section-5-ad span:first-of-type {
  font-size: 11px;
  font-weight: lighter;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.24);
}

@media (max-width: 1250px) {
  .section-4 {
    width: 95%;
  }

  .section-5 {
    width: 95% !important;
  }
}

@media (max-width: 1124px) {
  .col-1-4 {
    width: 23.4%;
  }
}
@media (max-width: 1078px) {
  .col-1-4 {
    width: 31%;
  }
  .box-4 {
    margin-left: 0 !important;
    margin-right: 1em;
  }
  .box-7 {
    margin-left: 0 !important;
  }
  .section-5 {
    width: 100% !important;
  }
}

@media (max-width: 1023px) {
  .col-1-3 {
    width: 47.5%;
  }

  .section-4-box-3,
  .section-4-box-5,
  .section-4-box-8 {
    margin-left: 0 !important;
  }
  .section-4-box-4 {
    margin-left: 1em !important;
  }
}

@media (max-width: 768px) {
  /*section -4*/
  .section-4-box-4 {
    margin-left: 0 !important;
  }
  .section-4 {
    flex-direction: column;
    width: 100%;
  }

  .section-4 img {
    width: 150px;
  }

  .col-1-3 {
    width: 100%;
    padding-top: 2em;
  }

  .section-4-article-1 > div {
    width: 81%;
  }

  /*sectin-5*/

  .section-5 {
    flex-direction: column;
    width: 100%;
  }
  .secion-5-wrapper {
    width: 100% !important;
  }
  .section-5 div {
    height: 4em !important;
  }

  .section-5-img {
    width: 5em;
    height: 4em;
  }
  .gutter-left-1 {
    margin-left: 0;
  }
  .col-1-4 {
    margin-bottom: 4em !important;
    display: flex;
    flex-direction: row;

    width: 100%;
  }

  .section-5-ad {
    margin-left: 1em;
  }

  .gutter-bottom {
    margin-bottom: 0 !important;
  }
  .bg-dark {
    background-color: white;
  }
}

/* hero Section */

.text-white {
  color: white;
}

.hero {
  margin-top: 0.2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30em !important;
  width: 100%;
}

.dark {
  background: darkgray;
}

.hero-col-1 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/TNW2019_JamesBridle-796x410.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  background: black
    url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 66%;
  height: auto;
}

.hero-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 33.33%;
  height: auto;
}

.hero-col-3 {
  height: 49%;
  width: auto;
}

.art-1 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F04%2Fjhkjkh.jpg&signature=0a5f0ed2450520d42760e97f5355a3ca")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.art-2 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F04%2Fbitcoin-price-rise.jpg&signature=d5eb53f6e6353ec83e6f23a96f4ddf68")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.date {
  display: block;
  float: right;
}

.article-0 {
  margin: 0 0.9em;
  margin-top: 12em;
}

.article-0 h2 {
  font-weight: 900;
  left: 1em;
  width: 98%;
  font-size: 3em;
  line-height: 1em;
}

.article-0 img {
  position: relative;
  bottom: 10rem;
  clear: right;
  width: 50%;
}

.article-0 li {
  color: grey;
}

.article-0 li {
  color: grey;
}

.article-0 a:nth-child(1) {
  display: block;
  text-decoration: none;
  font-weight: lighter;
}

.article-0 a:nth-child(2) {
  display: block;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.article-0 ul {
  margin-top: 1.6em;
}

.article-0 ul li {
  display: inline-block;
  font-size: 13px;

  padding-right: 0.1em;
}

.article-0 ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  font-size: 13px;
}

.article-1,
.article-2 {
  margin: 0 0.9em;
  margin-top: 8em !important;
  line-height: 1.5em;
}

.article-1 li {
  color: grey;
}

.article-2 li {
  color: grey;
}

.article-1 {
  margin-top: 6em;
}

.article-1 a:nth-child(1) {
  display: block;
  text-decoration: none;
  font-weight: lighter;
}

.article-1 a:nth-child(2) {
  display: block;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.article-1 ul li {
  display: inline-block;
  font-size: 13px;

  padding-right: 0.1em;
}

.article-1 ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  font-size: 13px;
}

.article-2 a:nth-child(1) {
  display: block;
  text-decoration: none;
  font-weight: lighter;
}

.article-2 a:nth-child(2) {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.article-2 ul li {
  display: inline-block;
  font-size: 13px;

  padding-right: 0.1em;
}

.article-2 ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  font-size: 13px;
}

@media only screen and (max-width: 1015px) {
  .article-0 h2 {
    font-size: 1em;
  }

  .article-0 {
    margin-bottom: 0.5em;
    line-height: 1em;
    margin-top: 5em;
  }

  .date {
    display: none;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    margin-bottom: 10em;
  }

  .hero-col-1,
  .hero-col-2 {
    width: 100%;
    height: 350px;
  }

  .hero-col-3 {
    margin-top: 0.5em;
    height: 350px;
  }

  .article-0 img {
    display: none;
  }

  .article-0 ul {
    margin-top: 0.2em;
  }

  .article-1,
  .article-2 {
    margin-top: 7.5em !important;
  }

  .article-1,
  a:nth-child(2) {
    font-size: 0.8em;
  }

  .article-2,
  a:nth-child(2) {
    font-size: 0.8em;
  }

  @media only screen and (min-width: 768px) {
    .navbarbtn-one-custom {
      margin-top: 0;
      width: 30%;
    }
  }
}
